@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap');

:root {
    --prim-font: 'Montserrat', sans-serif;
    --sec-font: 'Raleway', sans-serif;
    --primClr: #1d6862;
    --secClr: #00a972;
    --thrdClr: #715f58;
    background-image: linear-gradient(90deg, var(--primClr), var(--secClr));
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: var(--prim-font);
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--sec-font);
}

input {
    border-color: var(--thrdClr);
    border-width: 3px;
    box-shadow: 4px 22px 21px 9px rgba(176, 11, 105, 0.54);
    -webkit-box-shadow: 4px 22px 21px 9px rgba(176, 11, 105, 0.54);
    -moz-box-shadow: 4px 22px 21px 9px rgba(176, 11, 105, 0.54);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    font-size: 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}